@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f1f1f1;
}

.bg-green {
    background-color: #e5ffe7;
}

.container {
    max-width: 750px;
    margin: auto;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.table {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.table td{
    padding-bottom: 10px;
}

.table-tr {
    font-weight: bold;
}

.container h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: blueviolet;
    background-color: aqua;
    
}

.beautiful-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    background-color: #5bce4c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(21, 206, 36, 0.3);
    padding-left: 15px;
}

.beautiful-button:hover {
    background-color: #0e9154;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.4);
}

.beautiful-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.2);
}

.button {
    margin-left: 5px;
}